@page "/circuits";

@using FormulaOneInfo.ApplicationCore.Services;
@using FormulaOneInfo.Components.Circuit
@using FormulaOneInfo.Shared.Circuit;
@inject IFormulaOneServiceApi FormulaOneServiceApi;
@inject NavigationManager UriHelper;
@inject CircuitStateContainer CircuitState;
@implements IDisposable;

<MudGrid>
    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
        <MudPaper Class="pa-4 ma-2">
            <MudText Typo="Typo.h3">Circuits</MudText>
        </MudPaper>
    </MudItem>

    @if (Loading)
    {
        <CircuitSkeletonGridCard />
    }
    else
    {
        @if (CircuitsInfo != null)
        {
            @foreach (var circuit in CircuitsInfo)
            {
                string urlFlags = $"https://flagcdn.com/224x168/{Flags.GetValueOrDefault(circuit.Competition.Location.Country.Trim())}.png";

                <MudItem xs="12" sm="6" md="4" lg="3" xl="3">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">@circuit.Name</MudText>
                                <MudText Typo="Typo.body2">First Grand Prix: @circuit.FirstGrandPrix</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardMedia Image="@urlFlags" Height="224" Width="168"/>
                        <MudCardContent>
                            <MudText Typo="Typo.h5">Name: @circuit.Competition.Name</MudText>
                            <MudText Typo="Typo.body2">Location: @circuit.Competition.Location.Country,
                                @circuit.Competition.Location.City
                            </MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary"
                    OnClick="@(() => ShowCircuitInformation(circuit))">Learn More</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }
        }
        else
        {
            <h1>Deu ruim!!!</h1>
        }
    }
</MudGrid>