@page "/CircuitDetails"
@inject CircuitStateContainer CircuitState;
@using FormulaOneInfo.Shared.Circuit;

<MudGrid>
    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
        <MudBreadcrumbs Items="_breadcrumbs"></MudBreadcrumbs>
    </MudItem>
    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
        <MudPaper Class="pa-4 ma-2">
            <MudText Typo="Typo.h3">@CircuitDetails.Name</MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
        <div class="d-flex justify-center">
            <MudImage Src="@CircuitDetails.Image" Height="200" Width="400" Alt="@CircuitDetails.Name" Elevation="25"
                Class="rounded-lg ma-4" />
        </div>
    </MudItem>
    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
        <MudText Typo="Typo.body1">Location: @CircuitDetails.Competition.Location.Country,
            @CircuitDetails.Competition.Location.City</MudText>
        <MudText Typo="Typo.body1">First Grand Prix: @CircuitDetails.FirstGrandPrix</MudText>
        <MudText Typo="Typo.body1">Laps: @CircuitDetails.Laps</MudText>
        <MudText Typo="Typo.body1">Length: @CircuitDetails.Length</MudText>
        <MudText Typo="Typo.body1">Race Distance: @CircuitDetails.RaceDistance</MudText>
        <MudText Typo="Typo.body1">Lap Record:
            <ul>
                <li>Time: @CircuitDetails.LapRecord.Time</li>
                <li>Driver: @CircuitDetails.LapRecord.Driver</li>
                <li>Year: @CircuitDetails.LapRecord.Year</li>
            </ul>
        </MudText>
        <MudText Typo="Typo.body1">Capacity: @CircuitDetails.Capacity</MudText>
        <MudText Typo="Typo.body1">Opened: @CircuitDetails.Opened</MudText>
    </MudItem>
</MudGrid>