@page "/CircuitDetails/{circuitId}"

@inject CircuitStateContainer CircuitState;
@using FormulaOneInfo.ApplicationCore.Services;
@inject IFormulaOneServiceApi FormulaOneServiceApi;
@inject IDialogService DialogService
@implements IDisposable;

@using FormulaOneInfo.Components.Shared
@using FormulaOneInfo.Shared.Circuit;

<MudGrid>
    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
        <MudBreadcrumbs Items="_breadcrumbs"></MudBreadcrumbs>
    </MudItem>

    @if (Loading)
    {
        <SkeletonContent />
    }
    else
    {
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudPaper Class="pa-4 ma-2">
                <MudText Typo="Typo.h3">@CircuitDetails.Name</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <div class="d-flex justify-center">
                <MudImage Src="@CircuitDetails.Image" Height="200" Width="400" Alt="@CircuitDetails.Name" Elevation="25"
                Class="rounded-lg ma-4" />
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudText Typo="Typo.body1">Location: @CircuitDetails.Competition.Location.Country,
                @CircuitDetails.Competition.Location.City</MudText>
            <MudText Typo="Typo.body1">First Grand Prix: @CircuitDetails.FirstGrandPrix</MudText>
            <MudText Typo="Typo.body1">Laps: @CircuitDetails.Laps</MudText>
            <MudText Typo="Typo.body1">Length: @CircuitDetails.Length</MudText>
            <MudText Typo="Typo.body1">Race Distance: @CircuitDetails.RaceDistance</MudText>
            <MudText Typo="Typo.body1">Lap Record:
                <ul>
                    <li>-> Time: @(string.IsNullOrWhiteSpace(CircuitDetails.LapRecord.Time) ? "N/A" :
                    CircuitDetails.LapRecord.Time)</li>
                    <li>-> Driver: 
                        @if (string.IsNullOrWhiteSpace(CircuitDetails.LapRecord.Driver))
                        {
                            <div>N/A</div>
                        }
                        else
                        {
                            <MudButton Variant="Variant.Text" Color="Color.Info"
                        OnClick="@((e) => OpenDriverDialog(CircuitDetails.LapRecord.Driver))">
                                @CircuitDetails.LapRecord.Driver</MudButton>
                        }
                    </li>
                    <li>-> Year: @(string.IsNullOrWhiteSpace(CircuitDetails.LapRecord.Year) ? "N/A" :
                    CircuitDetails.LapRecord.Year)</li>
                </ul>
            </MudText>
            <MudText Typo="Typo.body1">Capacity: @(CircuitDetails.Capacity is null ? "N/A" : CircuitDetails.Capacity)
            </MudText>
            <MudText Typo="Typo.body1">Opened: @(CircuitDetails.Opened is null ? "N/A" : CircuitDetails.Opened)</MudText>
            </MudItem>
    }

</MudGrid>